.location{
    width: calc(95vw);
    margin-top: 5px;

    background-color: white;
    border-radius: 10px;

    padding: 30px;
    display: flex;
    justify-content: center;


}

.location_text{
    font-family: var(--font-familyF);
    font-size: 32px;
    font-weight: 200;
}
.locationCont{
    width: 90vw;
}


